In [1]:
my_students = ['rahul', 'nilesh', 'sahana', 'rohini', 'maneesh', 'dinesh']
#req: when nilesh arrives, print in upper case, else print all other in title case
for x in my_students:
    if x == 'nilesh':
        print(x.upper())
    else:
        print(x.title())

Rahul
NILESH
Sahana
Rohini
Maneesh
Dinesh

In [ ]:
#General syntax of slicing ==> mainvar[startvalue:stopvalue:stepcount]  #totally based on indexing

In [ ]:
#req: rahul and nilesh in a single group
#last value is always excluded

In [3]:
print(my_students[0:1])

['rahul']

In [4]:
print(my_students[0:2])

['rahul', 'nilesh']

In [5]:
print(my_students[2:4])

['sahana', 'rohini']

In [6]:
#start value : stop value
print(my_students[4:6])

['maneesh', 'dinesh']

In [ ]:
#Enhancement of the slicing concept

In [ ]:
#req: Even number from 1 to 30 by using the concept of list data type
#general syntax for range ==> range(startvalue, stopvalue, stepcount)

In [8]:
even_num = list(range(2,30,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [9]:
odd_num = list(range(3,30,2))
print(odd_num)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [10]:
type(odd_num)

list

In [11]:
type(even_num)

list

In [12]:
print(my_students)

['rahul', 'nilesh', 'sahana', 'rohini', 'maneesh', 'dinesh']

In [ ]:
#req: print 2 people in the list

In [13]:
print(my_students[0:2])

['rahul', 'nilesh']

In [ ]:
#req: print alternate name in the list using step count of 2

In [14]:
print(my_students[0:5:2])

['rahul', 'sahana', 'maneesh']

In [ ]:
#req: print alternate name in the list using step count of 3

In [15]:
print(my_students[0:5:3])

['rahul', 'rohini']

In [ ]:
#Introduction to Negative indexing. -ve will be starting from -1,-2,-3...

In [16]:
print(my_students)

['rahul', 'nilesh', 'sahana', 'rohini', 'maneesh', 'dinesh']

In [17]:
print(my_students[5])

dinesh

In [18]:
print(my_students[-1])

dinesh

In [19]:
print(my_students[-2])

maneesh

In [ ]:
#how to print the above list in revese order using the concept of indexing

In [20]:
print(my_students[::-1])  # ::-1 means "-1 and onwards"

['dinesh', 'maneesh', 'rohini', 'sahana', 'nilesh', 'rahul']